* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

:root {
    --blue: var(--dark-violet-100, #c318ff);
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}
.container {
    position: relative;
    width: 100%;
}
.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 80px;
}
.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;

    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered {
    background: var(--white);
}
.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--blue);
}
.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon ion-icon {
    font-size: 1.75em;
}
.navigation ul li a .icon i {
    font-size: 1.5em;
}
.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* radius dibagian luaar siebar */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

/*  */
.main.active {
    width: calc(100% - 80px);
    left: 80px;
}
.main {
    left: 300px;
    position: absolute;
    width: calc(100% - 300px);
    background: var(--white);
    min-height: 100vh;
    transition: 0.5s;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle {
    position: relative;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    cursor: pointer;
}

.user {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
}
.user img {
    width: 40px;
}

/* buat bikin grid di dashboard bagian card box atas */
.cardbox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.cardbox .card {
    position: relative;
    background: var(--white);
    padding: 30px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}

.cardbox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--blue);
}
.cardbox .card .CardName {
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
}

.cardbox .card .iconBox {
    font-size: 3.5em;
    color: var(--black1);
}

.cardbox .card:hover {
    background: var(--blue);
}

.cardbox .card:hover .numbers,
.cardbox .card:hover .CardName,
.cardbox .card:hover .iconBox {
    color: var(--white);
}

.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
}

.details .pinjaman {
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2 {
    color: var(--blue);
}

.btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.details table {
    width: 100%;
    border-collapse: collapse;
}

.details table thead td {
    font-weight: 600;
}
.details .pinjaman table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .pinjaman table tr:last-child {
    border-bottom: none;
}

.details .pinjaman table tbody tr:hover {
    color: var(--black1);
}
.details .pinjaman table tr td {
    padding: 10px;
    text-align: center;
}

.details .pinjaman table tr td:last-child {
    text-align: center;
}
.details .pinjaman table tr td:first-child {
    text-align: start;
}

.status.returned {
    background: #8de02c;
    padding: 5px 10px;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.notReturned {
    background: #f00;
    padding: 5px 10px;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.ListUsers {
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    background: var(--white);
    border-radius: 20px;
}

.ListUsers .imgbox {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.ListUsers .imgbox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ListUsers table tr:hover {
    background: var(--blue);
    color: var(--white);
}
