*, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    color: white !important;
    background-color: #FB5C5C !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* overflow-x: hidden !important;   */
    /*  */
}
nav{
    width: 100%;
    border-bottom: 2px solid white;
    display: flex;
    background: #0099FF;
    justify-content: space-around;
    padding: 20px 0;
}
nav ul{
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-between;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
nav ul li a:hover{
    color: #FB5C5C;
}
.menu-toggle{
    display: none;
    flex-direction: column;
    margin-left: 10px;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -5px;
    top: -3px;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: #FB5C5C;
    border-radius: 3px;
    transition: all 0.4s;
}

.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}
.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: white;
    z-index: 999;

    transform: rotate(45deg) translate(-3px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4){
    background-color: white;
    z-index: 999;
    transform: rotate(-45deg) translate(-1.5px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3){
    transform: scale(0);
    opacity: 0;
}

/* NAVIGATION  */

.page1{
    background-image: url(wave.svg);
    background-position: center;
    background-color: #FB5C5C;
    background-attachment: fixed;
    background-size: cover;
}
.konten{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.konten h3{
    font-size: 27px;
}

.konten img{
    width: 20%;
    border: 4px solid #fff;
    margin-right: 25px;
    border-radius: 90%;
}





.page2{
    background-color: #060606fd;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: -40px;
}

.page2 img{
    width: 53%;
}

.page2 h4{
    margin-left: 20px;
    width: 45%;
    font-size: 23px;
}


.page3{
    width: 92vw;
    margin-top: 40px;
    height: auto;
    background-color: #FB5C5C;
    text-align: center;
}
.page3 hr{
    border: 2px solid black;
    margin-top: -6px;
    width: 101.8%;
}
.page3 h2{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.page3 img{
    width: 100%;
}


.col{
    margin: auto;
    border-radius: 7px;
    width: 47% !important;
    color: black;
}
.col:hover{
    transition: .5s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.col img:hover{
    transform: scale(1.07);
    border-bottom: 3px solid black;
    transition: .4s all;
}


.page4{
    margin-top: 35px;
}
.page4 hr{
    border: 2px solid white;
    margin-top: -15px;
}
.page4 h3{
    margin-bottom: 20px;
}
.list{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.musik{
    margin-top: 10px;
    padding: 7px;
    margin-bottom: 15px;
    border: 2px solid black;
    border-radius: 23px;
    background-color: #0099FF;
}

.musik:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: .3s;
}

.footer{
    margin-top: 40px;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0099FF;
}





/* @media (max-width: 840px){
    nav ul{
        display: flex;
        list-style: none;
        width: 50%;
        justify-content: space-between;
    }
} */

@media (min-width: 801px){
    
.page2{
    height: auto !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-around !important;
    margin-left: -40px !important;
}

.page2 img{
    width:53% !important;
}

.page2 h4{
    width: 45% !important;
    font-size: 23px !important;
}
}


@media (max-width: 800px){
    .page2{
        display: grid;
    }
    
    .page2{
        background-color: #060606fd;
        height: auto;
        text-align: center;
    }

    .page2 img{
        width: 100%;
    }

    .page2 h4{
        width: 88%;
        margin: auto;
        margin-right: 10px;
        font-size: 18px;
    }
}

@media (max-width: 950px){
    .list{
        display: grid;
    }
}

@media(max-width: 635px){
    .konten h3{
        font-size: 24px;
    }
    .konten img{
        width: 35%;
        border: 4px solid #fff;
        margin-right: 20px;
        margin-left: 10px;
    }
}



@media (max-width: 840px){
    nav ul{
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        background-color: #0099FF;
        align-items: center;
        justify-content: space-evenly;
        z-index: -1;
        width: 100%;
        transform: translateY(-100%);
        transition: all 1.4s;
    }

    nav ul.slide{
        z-index: 1;
        transform: translateX(0);
    }

    .menu-toggle{
        display: flex;
    }

    #card{
        display: flex;
        flex-direction: column;
    }

    .col{
        margin: auto;
        border-radius: 7px;
        width: 90% !important;
        color: black;
    }
}
