@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,600&display=swap');@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');

html{
    scroll-behavior:smooth;
}
*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-family: poppins;
    background-color: #1D1D1D;
}

nav{
    position: fixed;
    top: 0px;
    z-index: 1000;
    position: sticky;
    opacity: 0;
    background-color: #ffff;
    display: flex;
    justify-content: space-between;
}

nav h1 {
    color: #1D1D1D;
}
nav .mainMenu{
    display: flex;
    list-style: none;
}
nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: #1D1D1D;
    font-size: 1.5rem;
    transition: 0.3s;
}
nav .mainMenu li a:hover {
    scale: calc(1.15);
}
nav .openMenu{
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
nav .logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}

@media (max-width: 800px) {
    nav .logo {
        margin: 20px;
        font-size: 15px;
        cursor: pointer;
    }
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #ffff;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;        
    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li:hover{
        background: none;
        font-size: 1.6;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
    overflow: hidden !important;
}

section .text{
    position: relative;
    font-size: 5em !important;
}

.line{
    width: 0;
    height: 10px;
    top: -300 !important;
    background-color: white !important;
}

.name{
    height: 15vh;
    display: flex;
    padding-top: 5%;
    margin-right: 5%;
    font-size: 10vh;
    height: auto;
    width:auto;
    padding-left: 2vh;
    overflow: hidden !important;
}

.occupation{
    height: 15vh;
    display: flex;
    font-size: 4vh;
    opacity: calc(0.3);
    height: auto;
    width:auto;
    padding-left: 2vh;
    overflow: hidden !important;
}

.scroll{
    height: 15vh;
    display: flex;
    font-size: 10vh;
    opacity: calc(0.3);
    height: auto;
    width:auto;
    padding-top: 25vh;
    padding-left: 2vh;
    overflow: hidden !important;
}

.about{
    margin-top: 15vh;
    padding: 10vh;
    background-color: #ffff;
    border-radius: 10px;
}
.about * {
    color: black !important;
}
.name span{
    box-sizing: border-box;
}

@media only screen and (max-width: 900px) {
    .name span{
        padding-top: 3%;
        font-size: 8vh;
    }
}

@media only screen and (max-width: 660px) {
    .name span{
        padding-top: 3%;
        font-size: 5vh;
    }
}

@media only screen and (max-width: 400px) {
    .name span{
        padding-top: 5%;
        font-size: 4vh;
    }
}
@media only screen and (max-width: 320px) {
    .name span{
        padding-top: 5%;
        font-size: 3.5vh;
    }
}