* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    background-image: url(./img/a50d25dc5f0169f9c926407c320765d2.jpg);
    background-size: cover;
    overflow-y: hidden;
}

/* Book */
.book {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;

}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid powderblue;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

i {
    font-size: 50px;
    color: gray;
}

/* Paper stack order */
#p1 {
    z-index: 5;
}

#p2 {
    z-index: 4;
}

#p3 {
    z-index: 3;
}

#p4 {
    z-index: 2;
}

#p5 {
    z-index: 1;
}

/* Customization */
.book-title {
    font-size: 30px;
    font-family: 'Lucida Sans';
    position: absolute;
    margin-top: -290px;
    margin-left: 13px;
}

.h1 {
    font-size: 25px;
    position: absolute;
    padding-bottom: -400px;
    margin-left: 13px;
    text-align: center;
}

.cover-img {
    width: 200px;
    height: 270px;
    object-fit: cover;
    position: absolute;
    border-radius: 30px;
    margin-right: auto;
    margin-bottom: -70px;
}

.foto {
    width: 200px;
    height: 270px;
    object-fit: cover;
    border-radius: 30px;
    object-fit: cover;
    border-radius: 30px;
    margin-left: 13px;
    margin-top: -150px;
}

#f2 {
    margin-top: 250px;
    display:inline-block;
    text-align: center;
}

#f3 {
    margin-top: 250px;
    display:inline-block;
    text-align: center;
}

#f4 {
    margin-top: 250px;
    display:inline-block;
    text-align: center;
}

#f5 {
    margin-top: 250px;
    display:inline-block;
    text-align: center;
}

#b1 {
    margin-top: 250px;
    display:inline-block;
    text-align: center;
}

#b2 {
    margin-top: 130px;
    display:inline-block;
    text-align: center;
}

#b3 {
    margin-top: 250px;
    display:inline-block;
    text-align: center;
}

#b4 {
    margin-top: 130px;
    display:inline-block;
    text-align: center;
}

#b5 {
    margin-top: 250px;
    display:inline-block;
    text-align: center;
}

.foto1 {
    width: 270px;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
}

