<html>
<head>
    <title>Members</title>
    <link rel="stylesheet" href="css/members.css">
</head>
<body>
<section>
    <div class="container-navbar">
        <div class="header">
            <a href="/anggota" ><img src="source/hololg.png" class="logo" alt=""></a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/members">Members</a></li>
                <li><a href="/event">Event</a></li>
                {{if eq .Login "true"}}
                    <li><a href="/account">Account</a></li>
                {{end}}
            </ul>
        </div>
    </div>
</section>
<!-- members start -->
    <div class="container-member">
        <div class="member">
            <a href="https://instagram.com/moonahoshinova"><img src="source/moona.webp" alt="" class="gen1l"></a>
            <a href="https://instagram.com/airani_iofifteen"><img src="source/iofi.webp" alt="" class="gen1r"></a>
            <a href="https://instagram.com/ayunda_risu"><img src="source/ayunda.webp" alt="" class="gen1r"></a>

            <a href="https://instagram.com/kureijiollie"><img src="source/ollie.webp" alt="" class="gen3l"></a>
            <a href="https://instagram.com/gawrguura"><img src="source/gura.png" alt="" class="gen3r"></a>
            <a href="https://instagram.com/pavoliareine"><img src="source/reine.webp" alt="" class="reine"></a>

            <a href="https://instagram.com/vestiazeta"><img src="source/zeta.webp" alt="" class="gen3l"></a>
            <a href="https://instagram.com/tokino.sora_"><img src="source/sora.png" alt="" class="gen3r"></a>
            <a href="https://www.youtube.com/channel/UC6eWCld0KwmyHFbAqK3V-Rw"><img src="source/koyori.png" alt="" class="gen3r"></a>
        </div>
        <a href="https://hololive.hololivepro.com/en/talents"><h3 class="mor">MORE TALENT</h3></a>
    </div>
<!-- members end  -->
</body>
</html>