* {
    padding:0;
    margin:0;
    font-family: 'Open Sans', sans-serif;
    color: #717D7E;
}
header {
    height:80px;
}
header h1 {
    display: inline-block;
    float: left;
    padding:15px 24px;
    text-transform: uppercase;
}
header h1 a{
    transition: .3s;
}
header h1 a:hover{
    color: #FF0000;
}
header ul {
    float: right;
}
header ul li {
    padding:24px;
    display: inline-block;
}
header ul li{
    transition: .3s;
}
header ul li a:hover{
    color: #FF0000;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.container::after {
    content: '';
    display: block;
    clear: both;
}
.mobile-menu{
   float:right;
   display:none;
   padding: 18px;
}
.mobile-menu:hover {
    cursor: pointer;
}
#check{
    display: none;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color:rgba(7, 162, 236, .9);
    transition: .3s;
}
.sidebar ul li a{
    color: #fff;
}
.sidebar ul li {
    padding: 45px;
    transition: .3s;
}
.sidebar ul li:hover {
    background-color: #FF0000;
}
#check:checked ~ .sidebar{
    left: 0;
}
.banner {
    background-color: #F5E267 ;
}
section {
    padding: 190px 0;
}
.banner h2,
.banner p{
    color:#FDFEFE  ;
}
.banner h2 {
    margin-bottom: 10px;
}
.banner p {
    font-size: 30px;
}
.banner-left {
    padding-left: 20px;
}
section h3 {
    padding-bottom: 20px;
    text-align: center;
    margin: 20px;
    position: relative;
}
section h3::before {
    content:'';
    display: block;
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 1px;
    background-color: #ddd;
    left: calc(50% - 60px);
}
section h3::after {
    content:'';
    display: block;
    position: absolute;
    bottom: -1;
    width: 40px;
    height: 4px;
    background-color: rgb(255, 0, 0);
    left: calc(50% - 20px);
}
#about p{
    text-align: justify;
    text-indent: 30px;
    line-height: 25px;
    margin-bottom: 15px;
}

#contact {
    background-color: #f9f9f9;
}
.col-3{
    width: 33.33%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 50px 10px;
}
col-3 h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}
footer {
    background-color: #333;
    padding: 50px;
    text-align: center;
}
footer small{
    color: #fff;
}
html {
    scroll-behavior: smooth;
}

.box {
    background-color: rgba(2, 247, 255, 0.1);
    backdrop-filter: blur(12px);
    box-shadow: rgba(84, 85, 85, 0.1)6px 2px 16px 0px,
    rgba(84, 85, 85, 0.1) -6px -2px 16px 0px;
    width: 380px;
    position: relative;
    margin-top: -50px;
    height: 240px;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 10px;
    position:relative;
    left: 60px;
    bottom: 10px;
}

@media screen and (max-widht: 1150px){
    .box {
        transform: scale(.9);
        backdrop-filter: blur(20px);
    }
}

@media (max-width: 768px){
    .mobile-menu{
        display: block;
    }
    header ul {
        display: none;
    }
}
