@tailwind base;

@layer base {
    html {
        @apply text-[#4f4f4f];
    }
    html.dark {
        @apply text-neutral-50;
        @apply bg-neutral-800;
    }
}

@tailwind components;
@tailwind utilities;

.active-navbar {
    @apply w-full bg-white;
}

.active-sidebar {
    @apply bg-[#e3e9ff] text-[#6477db] font-semibold;
}

.is-invalid {
    @apply border border-red-400;
}

.invalid-feedback {
    @apply text-xs font-light text-red-500;
}

.prevent-selected {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.remove-arrow {
    -moz-appearance: textfield;
}
