@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #7597de;
    overflow-x: hidden;
    scroll-behavior: smooth;
    min-height: 100vh;
}

.header{
    background: #7597de;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100;
    padding: 25px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    width: 30%;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header ul li{
    list-style: none;
    margin-left: 20px;
}

.header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

.header ul li a:hover{
    background-color: #fff;
    color: #2b1055;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;;
    z-index: 1000;
}



#text{
    padding-bottom: 400px;
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
    transform: translateY(100px);
}
#btn{
    margin-top: 300;
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border: 4px solid #1c0522;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
}
#btn:hover{
    transform: scale3d(1.1, 1.1, 1);
}
.sec{
    position: relative;
    padding: 100px;
    background: #1c0522;
}

.sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}

.sec p{
    font-size: 1em;
    color: #fff;
}

.banner {
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}

.banner video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}











































