/* membuat buku */
#book {
    width:50vw;
    height:50vh;
  /*   outline:1px solid black; */
    position:absolute;
    left:25vw;
    top:25vh;
    perspective:75vw;
  }
  
  #book:before {
    width:1%;
    height:100%;
    background:rgb(255, 252, 220);
    content:'';
    position:absolute;
    left:49%;
    top:0;
    box-shadow:0px 10px 10px rgba(0, 0, 0, 0.75);
    outline:1px solid rgb(255, 252, 220);
  }
  
  .page {
    width:50%;
    height:100%;
    background-color: rgb(248, 247, 243);
    outline:1px solid rgb(255, 255, 255);
    box-shadow:5px 10px 10px rgba(0,0,0,.15);
    position:absolute;
    left:50%;
    top:0;
    transition:z-index .01s linear 1s, transform 2s linear;
    transform-origin:0% 50%;
    z-index:5;
    cursor:pointer;
        
    font-family:monospace;
    text-align:center;
    line-height:50vh;
  }
  
  /* #page5 {
    transform-origin:-1% 50% !important;
  } */
  
  .front, .back {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
      
    font-family:monospace;
    text-align:center;
    line-height:50vh;
    
    opacity:0;
    transition:opacity .1s linear 1s;
  }
  .front {
    opacity:1;
  }
  .back {
    transform:scaleX(-1);
  }
  
  input {
    visibility:hidden;
  }
  
  /* page turn */
  label {
    width:100%;
    height:100%;
    z-index:99;
    position:absolute;
    left:0;
    top:0;
    margin:0;
    padding:0;
  /*   pointer-events:none; */
  /*   visibility:hidden; */
  /*   background:red; */
  }
  
  input:checked + .page {
    transform:rotateY(-180deg); 
  }
  
  input:checked + .page .front {
    opacity:0;  
  }
  input:checked + .page .back {
    opacity:1;  
  }
  
  #five:checked + .page {
    z-index:5;
  }
  #four:checked + .page {
    z-index:4;
  }
  #three:checked + .page {
    z-index:3;
  }
  #two:checked + .page {
    z-index:2;
  }
  #one:checked + .page {
    z-index:1;
  }
  
  body {
    width:100vw;
    height:100vh;
    overflow:hidden;
    background: url(img/bg5.jpg);
    background-size: 1600px;
  }
  
  /* interior pages styles */
  #page1 .front {
    font-family: 'Bona Nova', serif;
    font-size:2vh;
    letter-spacing:2vh;
    line-height:50vh;
    font-weight:900;
    text-align: center;
    background: url(img/frontn.jpeg);
    background-size: 400px;
    color:rgb(255, 255, 255);
    animation:cover 10s linear infinite;
  }
  
  #page1 .back {
    color:white;
    background-image: url(img/pg1.jpeg);
    background-size: 400px;
    border-radius: 60px;
  }
  
  #page2 .front {
    font-family: 'Bona Nova', serif;
    font-size: large;
    letter-spacing:2vh;
    background-image: url(img/text.jpg);
    background-size: 385px;
  }
  
  #page2 .back {
    background: url(img/pg2.jpeg);
    background-size: 400px;
    border-radius: 60px;
  }

  #page3 .front {
    font-family: 'Bona Nova', serif;
    font-size: large;
    letter-spacing:2vh;
    background-image: url(img/text.jpg);
    background-size: 385px;
  }

  #page3 .back {
    background: url(img/pg3.jpeg);
    background-size: 400px;
    border-radius: 60px;
  }

  #page4 .front {
    font-family: 'Bona Nova', serif;
    font-size: large;
    letter-spacing:2vh;
    background-image: url(img/text.jpg);
    background-size: 385px;
  }
  
  #page4 .back {
    background: url(img/pg4.jpeg);
    background-size: 400px;
    border-radius: 60px;
  }
  
  #page5 .front {
    font-family: 'Bona Nova', serif;
    font-size: large;
    letter-spacing:1vh;
    background-image: url(img/text.jpg);
    background-size: 385px;
  }
  
  #page5 .back {
    background: url(img/back1.jpg);
    background-size: 400px;
    font-family: 'Bona Nova', serif;
    font-size: large;
    letter-spacing:1vh;
  }